* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

body {
  background: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #00ff00;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  background: rgba(0, 255, 0, 0.1);
  padding: 25px 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 15px #00ff00;
}

h2 {
  color: #00ff00;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background: black;
  border: 2px solid #00ff00;
  color: #00ff00;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  background: #001900;
  color: #00ff00;
  border: 2px solid #00ff00;
  border-radius: 6px;
  transition: .2s;
}

button:hover {
  background: #00ff00;
  color: black;
  transform: scale(1.05);
}

h3 {
  margin-top: 15px;
}
